html,
body{

    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #202124;
   
}




.main {
    width: 100%;
    height: 100%;
    background-image: url('../img/overlay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.main-window {
    width: 90%;
    height: 90%;
    margin-bottom: 2%;
    background-color: rgba(90, 90, 90, 0.50);
    border: solid 1px;
    border-color: black;

}



.mid-container {
    width: 100%;
    height: 80%;
}



.clickbox {
    width: 60%;
    height: 80%;
    float: left;
    margin-left: 10%;
}

.player-name {
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
}

.damage-container {
    width: 100%;
    height: 10%;
    margin-bottom: 2px;
}


.damagebox-square {
    width: 80%;
    height: 70%;
}

.coinbox-box {
    width: 10%;
    height: 10%;
    float: right;
    background-color: whitesmoke;
    border: solid 1px;
    border-color: black;
    margin-bottom: 1%;

}


#coin-amount {
    color: black;
}


.dps-box {
    width: 40%;
    height: 100%;
    float: left;
    background: white;
    border: solid 1px;
    border-color: black;

}



.dpclick-box {
    width: 40%;
    height: 100%;
    float: right;
    background: white;
    border: solid 1px;
    border-color: black;
}





.monster-box {
    width: 100%;
    height: 90%;
    background-image: url('../img/wallpaper2.jpg');
    background-size: cover;
    border: solid 1px;
    border-color: black;

    
}

.bosshealth-container {
    width:100%;
    height: 10%;

}

#monsterHealth-contain{
    width: 45%;
    height: 50%;

    background-color: white;
    border: solid 1px;
    border-color: black;
}



.bosshealth-box {
    width: 45%;
    height: 50%;

    background: white;
    border: solid 1px;
    border-color: black;
}


.boxbox {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(90, 90, 90, 0.50);
    border: solid 1px;
    border-color: black;
}

.bosshealth-bar {
    position: absolute;
    width: 100%;
    height: 100%;

}


.monsterHealth {
    color: black;
    font-size: 1em;
    font-weight: bold;
   
    z-index: 1;

}




.monster-display-line {
    width: 100%;
    height: 100%;
}

.monster-display {
    width: 50%;
    height: 40%;
    background-image: url('../img/psykokwak.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}



.characters-box {
    width: 15%;
    height: 100%;
    background-color: red;
    margin-right: 2%;
    float: right;

    border: solid 1px;
    border-color: black;
}


.botline {
   
    width: 100%;
    height: 10%;
    margin-top: 1%;
    background-color: rgba(90, 90, 90, 0.50);

}






/*    add ons     */

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.border {
    background-color: #2021243;
    border-radius: 25px;
    border-color: white;
    padding: 20px;
    position: absolute;

}


.unselectable {
    user-zoom: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}